engine-strict = true
use-node-version = 20.19.0
link-workspace-packages = true
prefer-workspace-packages = true
legacy-peer-deps=true
@teamdiverst:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGE_TOKEN}
